<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_MaxMindGeo>
            <version>0.1.0</version>
        </Mediotype_MaxMindGeo>
    </modules>
    <global>
        <blocks>
            <geoip>
                <class>Mediotype_MaxMindGeo_Block</class>
            </geoip>
        </blocks>
        <helpers>
            <geoip>
                <class>Mediotype_MaxMindGeo_Helper</class>
            </geoip>
        </helpers>
        <models>
            <geoip>
                <class>Mediotype_MaxMindGeo_Model</class>
            </geoip>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <geoip>
                    <file>mediotype/geoip.xml</file>
                </geoip>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <mediotype_geoip>
                <use>admin</use>
                <args>
                    <module>Mediotype_MaxMindGeo</module>
                    <frontName>geoip</frontName>
                </args>
            </mediotype_geoip>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <geoip_update>
                <schedule><cron_expr>0 0 * * 5</cron_expr></schedule>
                <run><model>geoip/cron::run</model></run>
            </geoip_update>
        </jobs>
    </crontab>
    <default>
        <geoip_config>
            <general>
                <geo_active>1</geo_active>
                <allow_guest>0</allow_guest>
            </general>
        </geoip_config>
    </default>
</config>